version: '3.7'
services:
  tqs-sonar-qube:
    image: sonarqube
    ports:
      - "9000:9000"
    networks:
      - common_network

  docker:
    image: docker:dind
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - jenkins-docker-certs:/certs/client
      - jenkins-data:/var/jenkins_home
      - /home/gabriela:/home
    restart: always
    privileged: true
    networks:
      - common_network

  tqs-jenkins-blueocean:
    image: jenkinsci/blueocean
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
    volumes:
      - jenkins-docker-certs:/certs/client:ro
      - jenkins-data:/var/jenkins_home
      - /home/gabriela:/home
    ports:
      - "8080:8080"
      - "50000:50000"
    restart: always
    privileged: true
    networks:
      - common_network

networks:
  common_network:
    driver: "bridge"

volumes:
  jenkins-docker-certs:
    driver: local
  jenkins-data:
    driver: local